.card_home {
  width: 30%; /* Adjust width as needed */
  height: auto; /* Adjust height as needed */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .card_home {
      width: 80%; /* Adjust width for tablets */
  }
}

@media (max-width: 576px) {
  .card_home {
      width: 90%; /* Adjust width for mobile */
  }
}